@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  /*background-color: #040a12; #d0f6ff;  rgb(208, 246, 255) */
  /* background-color: red; */
  background-image: linear-gradient(
    to bottom,
    #000000 0%,
    #091627 50%,
    #060f1b 80%,
    #000000 100%
  );

  background-color: #040a12;
  /* background-image: linear-gradient(to bottom, #2f4f7f 0%, #040a12 50%, #d1b8b8 100%); */
  color: #ffffff;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-x: hidden;
  font-size: 1.1em;
  /*height: 100vh;  to create a scrolling container */
  overflow-y: auto; /*create a scrolling container */
  /* position: relative; */
}

/* Navbar styles */
.navbar {
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: #fff;
  padding: 15px 0;
  z-index: 1000; /* Make sure it appears above the video */
  overflow: auto;
  backdrop-filter: blur(1px); /* blur effect behind the navbar */
  /*position: sticky; */
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  /* height: 100vh; */
}

.parent-nav-container {
  /* overflow-y: auto; */
  /* height: 100px; */
  /* height: 100vh; */

  z-index: 1000;
}

/* Navbar Container */
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1em;
}

/* Navbar home logo*/

.navbar-brand {
  font-size: 1.8em;
  /* color: #ffffff; */
  text-decoration: none;
  font-weight: bold;
  /*background: linear-gradient(
    to right,
    #ffffff,
    #00ffee
  );  Add a gradient background */
  -webkit-background-clip: text; /* WebKit (Chrome, Safari) */
  -moz-background-clip: text; /* Mozilla (Firefox) */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* WebKit (Chrome, Safari) */
  transition: transform 0.1s ease;
  -webkit-text-fill-color: #77fff7; /*to change the color on hover */
  text-shadow: 0 0 5px #2f6661, 0 0 10px #52b4af, 0 0 10px #77fff7;
}

/* Navbar logo */
.navbar-brand:hover {
  -webkit-text-fill-color: #ff69b4; /*  to change the color on hover */
  text-shadow: 0 0 5px #ff69b4, 0 0 10px #c90772, 0 0 10px #ff69b4;
  transform: rotate(360deg);
}

.navbar-brand.fa-solid {
  font-size: 10.3em; /* Reduce the font size of the icons to make them smaller */
  font-weight: 100; /* Make the icon thinner */
  line-height: 1; /* Adjust the line height to ensure proper vertical alignment */
}

.navbar-brand .fa-less-than {
  margin-right: 0.1em; /* Add a small margin to the right of the less-than symbol */
}

.navbar-brand .fa-greater-than {
  margin-left: 0.1em; /* Add a small margin to the left of the greater-than symbol */
}

/* Navbar Menu */
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

/* menu color text */
.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #77fff7; /* Change color on hover */
  text-decoration: underline;
}

.hamburger {
  display: none; /* hide the hamburger icon by default */
}

/* Style for the video element */
#background-video {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* min-width: 100%;
  min-height: 100%; */
  width: 100vw; /*full viewport width */
  height: 90vh;
  object-fit: cover; /* scale the video to cover the entire area */
  z-index: -1; /* Send the video behind the content */
  /* transform: translate(-50%, -50%); */
}

/* Overlay content on top of the video */
.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 60%; /* Make it wider */
  /*height: 40%;  Make it shorter */
  padding: 40px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  border-radius: 30px;
  font-size: 18px;

  /* background-color: red; */
}

/* Heading style */
.content-overlay h1 {
  font-size: 2.8em;
  /* font-size: clamp(1em, 3em, 3em); */
  /* line-height: 0.3; */
  /* margin-bottom: 0.1em; */
  margin: 0;
  /* background-color: red; */
}

/* Paragraph style */
.content-overlay p {
  font-size: 1.2em;
  /* margin-bottom: 3em; */
  /* background-color: pink; */
}

.content-overlay h1 > i.fa-hand {
  color: #ffffff;
  margin-right: 20px;
  transform: rotate(-40deg) scaleX(-1);
  font-size: 0.9em;
}

#typing-effect {
  display: inline-block; /* make the span an inline-block element */
  overflow: hidden; /* hide the overflow to create a typing effect */
  white-space: nowrap; /* keep the text on one line */
  border-right: 2px solid #fff; /* add a cursor effect */
  animation: typing 5s steps(40, end); /* define the animation */
  animation-iteration-count: 2;
  animation-fill-mode: forwards; /* keep the text visible after animation finishes */
  position: relative; /* add relative positioning */
  width: 0; /* initial width is 0 */
}

@keyframes typing {
  0% {
    width: 0; /* start with no width */
  }
  99% {
    border-right: 2px solid #fff; /* keep the cursor visible until almost the end */
  }
  100% {
    width: 100%; /* end with full width */
    border-right: none; /* remove the cursor at the end of the animation */
  }
}

/* Header Styles */

h1 {
  color: #ffffff;
}

#marquee {
  /* position: relative; */
  left: 100%;
  opacity: 0; /* to hide the text initially */
  animation: slideIn 3s forwards;
  animation-delay: 4s;
  /* font-style: italic; */
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0; /* keep the text hidden at the start */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* reveal the text at the end */
  }
}

main {
  margin-top: 98vh;
  overflow: auto;
  /* scroll-margin-top: 100px; */
}

#home {
  /*background-color: #8080f8;  rgb(128, 128, 248) */
  color: #000000;
  /* padding: 50px; top and bottom */
  /* padding-top: 20px; */
  /*margin: 0; reset margin */
  /*scroll-margin-top: 1600px; Adjust this value based on your fixed header height */
}

#about {
  /*background-color: #040a12; rgb(77, 77, 148) */
  scroll-margin-top: 7em;
  color: #ffffff;
  padding: 0px 200px 40px 200px;
}

#about h2,
#experience h2,
#skills h2,
#connect h2,
#philosophy h2, #message-form h2, #messages h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  scroll-margin-top: 7em;
}

#experience {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 40px 200px;
  scroll-margin-top: 7em;
  position: relative;
}

.line {
  width: 5in; /* or 5in */
  border-top: 1px solid #ccc;
  /*margin: 0 auto;  centers the line within the container */
  height: 0; /* Ensures the element does not affect vertical layout */
  display: block; /* Ensures the element respects the width */
}

#skills {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  scroll-margin-top: 7em;
  padding: 20px 200px 40px 200px;
}

#projects {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  scroll-margin-top: 7em;
  padding: 20px 200px 40px 200px;
}

#connect {
  /*background-color: #040a12;  */
  color: #ffffff;
  scroll-margin-top: 7em;
  padding: 20px 200px 40px 200px;
}

#connect ul {
  list-style: none;
  padding: 1em 0 0 0;
  margin: 0;
  scroll-margin-top: 7em;
  display: flex; /* Make the ul a flex container */
  flex-wrap: wrap; /* Allow the items to wrap to the next line if needed */
}

#connect li {
  margin-right: 20px; /* Add some space between the items */
}

#connect ul i {
  color: #77fff7; /* change color */
  font-size: 150%;
}

#connect li a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em;
}

#connect li a i {
  margin-left: 20px;
}

#connect ul li a:hover {
  text-decoration: underline; /* add underline on hover, but only for text */
}

#connect ul li a:hover i {
  color: #fff; /* change icon color to white on hover */
}

/* Philosophy Section Styles */
#philosophy {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  
  padding: 20px 200px 40px 200px;
  

}

blockquote {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 0 200px;
  margin: 0 20px 15px 20px; /* top, right, bottom, left */
  padding: 0 15px;
}

/* #philosophy i {
  transform: translateX(10px);
} */

.project-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  width: 40%;
  /* grid-auto-flow: dense; */
  align-items: baseline;
}

/* experience columns */
.exp-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* grid-auto-flow: dense; */
  align-items: baseline;
}

.exp-item {
  padding: 20px;
}

.exp-item:first-child {
  padding-right: 40px;
}

.exp-item:last-child {
  padding-left: 40px;
}

ul {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li i {
  margin-left: 10px;
}

#message-form, #messages {
  /* background-color: #9bc6fd;  */
  color: #ffffff;
  /* scroll-margin-top: 7em; */
  padding: 20px 200px 40px 200px;
}

/* ///////////background shapes/////////////// */

.background-shapes {
  position: relative; /* Make the background circle absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Make it full-width and full-height */
  /*z-index: 1;  Send it behind the content */
  /* border-radius: 50%; */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add some depth */
  /*opacity: 0.2;  Add 50% transparency */
  overflow-x: hidden;
  max-width: 100vw;
}

.shape div {
  position: absolute;
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
  filter: blur(5px);
}

.shape-1 {
  background: linear-gradient(45deg, #51f9ff, #000000);
  top: 1%;
  left: -8%;
  transform: translate(0, 0);

  /* width: 20em;
  height: 20em; */
  min-width: 18em;
  min-height: 18em;
  max-width: 25vw;
  max-height: 25vw;
  width: 20vw;
  height: 20vw;
  opacity: 0.2;
  z-index: -1;
}

.shape-2 {
  background: linear-gradient(135deg, #51f9ff, #000000);
  top: 57%;
  left: 3%;
  transform: translate(0, 0);
  /* width: 10em;
  height: 10em; */
  min-width: 10em;
  min-height: 10em;
  max-width: 15vw;
  max-height: 15vw;
  width: 12vw;
  height: 12vw;
  opacity: 0.2;
}

.shape-3 {
  background: linear-gradient(225deg, #000000, #51f9ff);
  top: 70%;
  left: 90%;
  transform: translate(0, 0);
  width: 12em; /* Make.shape-1 larger using em units */
  height: 12em; /* Make.shape-1 larger using em units */
  opacity: 0.2;
}

.diamond {
  position: absolute;
  top: 30%; /*  to position the diamond vertically */
  left: 90%; /*  to position the diamond horizontally */
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  border: 0.5px solid #4d4d4d;
  /* background-color: #ff0000;  Add a red background color */
  border-radius: 0; /* to override the inherited border-radius value */
}

.inner-diamond {
  /* position: absolute; */
  top: calc(
    50% - 75px
  ); /* Calculate top position: 50% of parent height - half of inner diamond height */
  left: calc(
    50% - 75px
  ); /* Calculate left position: 50% of parent width - half of inner diamond width */
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
  border: 0.5px solid #4d4d4d;
  /*background-color: #ff0000;  Add a red background color */
  border-radius: 0; /*to override the inherited border-radius value */
}

/* tablet */
@media (min-width: 600px) and (max-width: 899px) {
  body {
    color: rebeccapurple;
  }

  .navbar {
    background-color: rgb(1, 68, 80, 0.8); /**/
    font-size: 0.9em;
    /* background-color: transparent; */
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(3px); /* blur effect behind the navbar */
  }

  .navbar-brand {
    -webkit-text-fill-color: #77fff7; /*to change the color on hover */
    text-shadow: 0 0 5px #2a5c58, 0 0 10px #55b9b3, 0 0 10px #77fff7;
  }
  .navbar-brand:hover {
    /*-webkit-text-fill-color: #ff69b4;  change the color on hover */
    text-shadow: 0 0 5px #ff69b4, 0 0 10px #c90772, 0 0 10px #ff69b4;
    transform: rotate(360deg);
  }

  .hamburger {
    display: none; /* hide the hamburger icon by default */
  }

  main {
    margin-top: 40em;
  }

  #background-video {
    height: 70vh;
  }

  .content-overlay {
    /* background-color: rgba(37, 37, 37, 0.8); */
    top: 40%;
    left: 50%;
    width: 70%;
  }

  .content-overlay h1 {
    font-size: 2em;
  }
  .content-overlay h2 {
    font-size: 2em;
  }

  .content-overlay p {
    font-size: 1em;
  }

  .content-overlay h1 > i.fa-hand {
    margin-right: 10px;
    /* transform: rotate(-40deg) scaleX(-1);
    font-size: 0.9em; */
  }

  #about {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    color: #ffffff;
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    /* padding: 0px 100px 40px 100px; */
  }

  #experience,
  #skills,
  #projects,
  #connect, #message-form, #messages {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    color: #ffffff;
    padding: 0px 100px 40px 100px;
  }

  #philosophy {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    /* background: pink; */
    color: #ffffff;
    padding: 0px 100px 40px 100px;
  }
}

/* for mobile  */
@media (max-width: 599px) {
  body {
    color: rebeccapurple;
  }

  .navbar {
    background-color: rgb(1, 68, 80, 0.8); /**/
    font-size: 0.9em;
    /* background-color: transparent; */
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(3px); /* blur effect behind the navbar */
    flex-direction: column; /* stack the nav items vertically on mobile */
    padding-top: 4em;
    position: fixed;
  }

  .hamburger {
    display: block; /* show the hamburger icon on mobile */
    top: 1em; /* pin it to the top */
    right: 0.9em;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
  }

  .hamburger i {
    /* padding-top: 10px; */
    color: #fff;
    position: absolute;
  }

  .navbar ul {
    display: none; /* hide the navigation menu by default */
  }

  .navbar.show-nav ul {
    display: block; /* show the navigation menu when the hamburger is clicked */
  }

  .navbar ul {
    flex-direction: column; /* stack the nav items vertically on mobile */
    flex-grow: 1; /*to make it take up the remaining space */
  }

  .navbar li {
    margin-right: 0; /* remove the margin on mobile */
  }

  .navbar-brand {
    -webkit-text-fill-color: #77fff7; /*to change the color on hover */
    text-shadow: 0 0 5px #2a5c58, 0 0 10px #55b9b3, 0 0 10px #77fff7;
    font-size: 1.5em;
    position: absolute; /*take it out of the normal flow */
    top: 0.5em;
    left: 1em; /* pin it to the left */
    margin: 10px; /* add some margin to create some space */
  }

  .navbar-brand:hover {
    /*-webkit-text-fill-color: #ff69b4;  change the color on hover */
    text-shadow: 0 0 5px #ff69b4, 0 0 10px #c90772, 0 0 10px #ff69b4;
    transform: translateY(-50%) rotate(360deg);
    top: 1em;
    left: 1em; /* pin it to the left */
  }

  #background-video {
    height: 80vh;
  }

  main {
    margin-top: 45em;
  }

  .content-overlay {
    /* background-color: rgba(37, 37, 37, 0.8); */
    margin-left: 0px;
    padding: 20px;
    width: 75%;
    top: 45%;
  }

  .content-overlay h1 {
    font-size: 1.5em;
  }
  .content-overlay h2 {
    font-size: 1.5em;
  }

  .content-overlay p {
    font-size: 0.9em;
  }

  .content-overlay h1 > i.fa-hand {
    margin-right: 10px;
    /* transform: rotate(-40deg) scaleX(-1);
    font-size: 0.9em; */
  }

  #about {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    color: #ffffff;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* padding: 0px 100px 40px 100px; */
  }

  #experience,
  #skills,
  #projects,
  #connect,
  #message-form, #messages {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    color: #ffffff;
    padding: 0px 40px 40px 40px;
  }

  /* #experience {
  } */

  .exp-container {
    grid-template-columns: 1fr;
  }
  .exp-item {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .exp-item h3 {
    margin-bottom: -20px;
  }

  #skills ul {
    padding-left: 40px;
  }

  #philosophy {
    /*background-color: #040a12; rgb(77, 77, 148) 
    scroll-margin-top: 7em;*/
    color: #ffffff;
    padding: 0px 40px 40px 40px;
  }

  .line {
    width: 3.5in; /* or 5in */
    border-top: 1px solid #ccc;
    /*margin: 0 auto;  centers the line within the container */
    height: 0; /* Ensures the element does not affect vertical layout */
    display: block; /*Ensures the element respects the width */
  }
}

.footer-class {
  text-align: center;
  color: white;
  padding: 4em 0;
  /* background-color: #c90772; */
}

#skillsTitleh3 {
padding-top: .5em;
}

#skills-items, #web-dev-skills-list, #tools-skills-list {
  margin-bottom: 2.5em; /* add 40px margin bottom to the #skills-items element */
}

/* Message Form styling */


#messages {
  margin-top: 40px;
}

#messages h2 {
  margin-top: 0;
  color: #ffffff;
}

#messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#messages-list li {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

#messages-list li p {
  margin-bottom: 10px;
}

.submit-button {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#messages-list li button[type="button"] {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* button color hover */
#messages-list li button[type="button"]:hover {
  background-color: #e6e6e6;
}