@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  /*background-color: #040a12; #d0f6ff;  rgb(208, 246, 255) */
  /* background-color: red; */
  background-image: linear-gradient(
    to bottom,
    #000000 0%,
    #091627 50%,
    #060f1b 80%,
    #000000 100%
  );

  background-color: #040a12;
  /* background-image: linear-gradient(to bottom, #2f4f7f 0%, #040a12 50%, #d1b8b8 100%); */
  color: #ffffff;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-x: hidden;
  font-size: 1.1em;
  height: 100vh; /* Add this to create a scrolling container */
  overflow-y: auto; /* create a scrolling container */
  position: relative;
}

/* Navbar styles */
.navbar {
  /*position: fixed; sticky*/
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  padding: 15px 0;
  z-index: 1000; /* Make sure it appears above the video */
  overflow: hidden;
}

.parent-nav-container {
  overflow-y: auto;
  /* height: 100px; */
  height: 100vh;
  /* /*position: sticky; */
}

/* Navbar Container */
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

/* Navbar home logo*/

.navbar-brand {
  font-size: 1.8em;
  /* color: #ffffff; */
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ffffff,
    #00ffee
  ); /* Add a gradient background */
  -webkit-background-clip: text; /* WebKit (Chrome, Safari) */
  -moz-background-clip: text; /* Mozilla (Firefox) */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* WebKit (Chrome, Safari) */
  transition: transform 0.1s ease;
}

/* Navbar logo */
.navbar-brand:hover {
  -webkit-text-fill-color: #ff69b4; /* Add this rule to change the color on hover */
  text-shadow: 0 0 5px #ff69b4, 0 0 10px #c90772, 0 0 10px #ff69b4;
  transform: rotate(360deg);
}

.navbar-brand.fa-solid {
  font-size: 10.3em; /* Reduce the font size of the icons to make them smaller */
  font-weight: 100; /* Make the icon thinner */
  line-height: 1; /* Adjust the line height to ensure proper vertical alignment */
}

.navbar-brand .fa-less-than {
  margin-right: 0.1em; /* Add a small margin to the right of the less-than symbol */
}

.navbar-brand .fa-greater-than {
  margin-left: 0.1em; /* Add a small margin to the left of the greater-than symbol */
}

/* Navbar Menu */
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

/* menu color text */
.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #77fff7; /* Change color on hover */
  text-decoration: underline;
}

/* Style for the video element */
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw; /* full viewport width */
  /* height: 100%; */
  object-fit: cover; /* scale the video to cover the entire area */
  z-index: -1; /* Send the video behind the content */
  transform: translate(-50%, -50%);
}

/* Overlay content on top of the video */
.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 60%; /* Make it wider */
  /*height: 40%;  Make it shorter */
  padding: 30px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  border-radius: 30px;
  font-size: 18px;
  /* background-color: red; */
}

/* Heading style */
.content-overlay h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

/* Paragraph style */
.content-overlay p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Header Styles */

h1 {
  color: #ffffff;
}

#marquee {
  position: relative;
  left: 100%;
  animation: slideIn 3s forwards;
  /* animation-delay: 1s; */
}

@keyframes slideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

main {
  margin-top: 40px;
}

#home {
  /*background-color: #8080f8;  rgb(128, 128, 248) */
  color: #000000;
  /* padding: 50px; top and bottom */
  padding-top: 70px;
  margin: 0; /*reset margin */
  /*scroll-margin-top: 1600px;  Adjust this value based on your fixed header height */
}

#about {
  /*background-color: #040a12; rgb(77, 77, 148) */

  color: #ffffff;
  padding: 0px 200px 40px 200px;
}

#about h2,
#experience h2,
#skills h2,
#connect h2,
#philosophy h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
}

#experience {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 40px 200px;

  position: relative;
}

.line {
  width: 5in; /* or 5in */
  border-top: 1px solid #ccc;
  /*margin: 0 auto;  centers the line within the container */
  height: 0; /* Ensures the element does not affect vertical layout */
  display: block; /* Ensures the element respects the width */
}

/* #experience::before {
  content: "";
  display: block;
  position: absolute; */
/*top: 20px; match the top padding */
/*left: 200px;  match the left padding */
/*width: calc(100% - 400px);  subtract the left and right padding */
/* border-top: 1px solid #ccc;
} */

#skills {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 40px 200px;
}

#projects {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 40px 200px;
}

#connect {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 40px 200px;
}

#connect ul {
  list-style: none;
  padding: 1em 0 0 0;
  margin: 0;
  display: flex; /* Make the ul a flex container */
  flex-wrap: wrap; /* Allow the items to wrap to the next line if necessary */
}

#connect li {
  margin-right: 20px; /* Add some space between the items */
}

#connect ul i {
  color: #77fff7; /* change this to the desired color */
  font-size: 150%;
}

#connect ul a:hover i {
  color: #ffffff; /* change this to the desired color */
}

#connect li a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em;
}

#connect li a i {
  margin-left: 20px;
}

/* Philosophy Section Styles */
#philosophy {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 200px 200px;
}

blockquote {
  /*background-color: #040a12; rgb(77, 77, 148) */
  color: #ffffff;
  padding: 20px 200px 0 200px;
  margin: 0 20px 15px 20px; /* top, right, bottom, left */
  padding: 0 15px;
}

/* #philosophy i {
  transform: translateX(10px);
} */

/* experience columns */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* grid-auto-flow: dense; */
  align-items: baseline;
}

.grid-item {
  padding: 20px;
}

.grid-item:first-child {
  padding-right: 40px;
}

.grid-item:last-child {
  padding-left: 40px;
}

ul {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li i {
  margin-left: 10px;
}

/* ///////////background shapes/////////////// */

.background-shapes {
  position: relative; /* Make the background circle absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Make it full-width and full-height */
  z-index: -1; /* Send it behind the content */
  border-radius: 50%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add some depth */
  /*opacity: 0.2;  Add 50% transparency */
}

.shape div {
  position: absolute;
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
  filter: blur(5px);
}

.shape-1 {
  background: linear-gradient(45deg, #51f9ff, #000000);
  top: 20%;
  left: -1%;
  transform: translate(0, 0);
  /*width: 12em;  Make.shape-1 larger using em units */
  /* height: 12em; Make.shape-1 larger using em units */
  width: 300px;
  height: 300px;
  opacity: 0.2;
  z-index: -1;
}

.shape-2 {
  background: linear-gradient(135deg, #000000, #51f9ff);
  top: 240%;
  left: 1%;
  transform: translate(0, 0);

  width: 100px;
  height: 100px;
  opacity: 0.7;
}

.shape-3 {
  background: linear-gradient(225deg, #51f9ff, #000000);
  top: 360%;
  left: 90%;
  transform: translate(0, 0);
  width: 12em; /* Make.shape-1 larger using em units */
  height: 12em; /* Make.shape-1 larger using em units */
  opacity: 0.2;
}

.diamond {
  position: absolute;
  top: 150%; /* Adjust this value to position the diamond vertically */
  left: 90%; /* Adjust this value to position the diamond horizontally */
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  border: 0.5px solid #4d4d4d;
  /* background-color: #ff0000;  Add a red background color */
  border-radius: 0; /* Add this to override the inherited border-radius value */
}

.inner-diamond {
  position: absolute;
  top: calc(
    50% - 75px
  ); /* Calculate top position: 50% of parent height - half of inner diamond height */
  left: calc(
    50% - 75px
  ); /* Calculate left position: 50% of parent width - half of inner diamond width */
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
  border: 0.5px solid #4d4d4d;
  /*background-color: #ff0000;  Add a red background color */
  border-radius: 0; /* Add this to override the inherited border-radius value */
}
